<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<style>
.all {
    padding: 30px;
    width: 70%;
    margin:0 auto;
}

</style>

<html lang="en">
    <body class="all">

        <!--p class="nav">navigation bar</p>
        <br-->

        {% block content %} {% endblock %}

    </body>
</html>