{% extends 'projects/base.html' %}
{% block content %}

    <h1>Rachel Stone</h1>

    {% load static %}

    <!--img src="{% static 'bits.jpg' %}" width="1000" ><br-->
    <a href="{% static 'Rachel Stone - resume.pdf' %}">resume</a><br>
    <a href="{% url 'viewProj' %}">Projects</a><br>
    <a href="{% url 'blog:blogs' %}">my blogs</a><br>


    <a href="http://www.linkedin.com/in/rachel-stone-3a148714b/" target="_blank"><img src="{% static 'linkedin.jpg' %}" alt="linkedin" width="100"></a>

{% endblock%}